
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="main-slideshow @ViewBag.ClassHidden">
    <div>
        <a href="#">
            <img src="images/slider1.jpg" />
        </a>
    </div>
    <div>
        <a href="#">
            <img src="images/slider2.jpg" />
        </a>
    </div>
    <div>
        <a href="#">
            <img src="images/slider3.jpg" />
        </a>
    </div>
</div>