<div class="upload-music-form-wrapper">
    <h2>Upload Music</h2>
    <form>
        <div class="form-group">
            <label class="control-label">Song title: <span class="text-danger">*</span></label>
            <input type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">Category: <span class="text-danger">*</span></label>
            <select class="form-control">
                <option value="">-- Select Music Category --</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">Author: <span class="text-danger">*</span></label>
            <select class="form-control">
                <option value="">-- Select Author --</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">Select File: <span class="text-danger">*</span></label>
            <input type="file" accept="audio/*" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">Lyrics (optional):</label>
            <textarea rows="4" class="form-control"></textarea>
        </div>
    </form>
    <div class="form-group">
        <button class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-saved"></span>
            Submit
        </button>

        <button class="btn btn-default pull-right">
            <span class="glyphicon glyphicon-refresh"></span>
            Cancel
        </button>
    </div>    
</div>