body {
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: rgba(36, 35, 35, .9);
    height: 180px;
    padding-top: 35px;
}

.main-search {
    margin-top: 10px;
}

    .main-search button {
        width: 100px;
        background-image: url(../images/active.gif);
        border: none;
        padding: 7px 12px;
        background-repeat: repeat-x;
        text-transform: uppercase;
        color: #ffffff;
    }

.main-body-wrapper {
    background-image: url(../images/bg.png);
}

    .main-body-wrapper .container {
        position: relative;
    }
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    position: absolute;
    width: 100%;
    left: 0;
    top: -65px;
}

ul.main-navigation-bar {
    list-style: none;
    padding: 0;
    font-size: 0;
    background: url(../images/top-nav.png) repeat-x;
    border-bottom: solid 2px rgb(252, 44, 18);
    margin: 0;
}

    ul.main-navigation-bar > li {
        display: inline-flex;
        font-size: 14px;
    }

        ul.main-navigation-bar > li > a {
            display: inline-block;
            color: #ffffff;
            text-transform: uppercase;
            padding: 17px 35px;
            border-right: solid 1px rgb(252, 44, 18);
        }

            ul.main-navigation-bar > li > a.active {
                background-color: rgb(252, 44, 18);
            }

            ul.main-navigation-bar > li > a:hover {
                background-color: rgb(252, 44, 18);
            }

.main-slideshow img {
    width: 100%;
}

/* Override Bootstrap */
.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}

.navbar {
    min-height: unset;
    padding: 8px 0;
}

.navbar-inverse {
    background-color: #fc2c12;
    border-color: #fc2c12;
}

    .navbar-inverse .navbar-nav > li.separator {
        padding: 0 3px;
        padding-top: 5px;
    }

        .navbar-inverse .navbar-nav > li.separator > span {
            display: block;
            width: 1px;
            min-height: 20px;
            background-color: #000000;
        }


    .navbar-inverse .navbar-nav > li > a {
        color: #fff;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
        height: 30px;
        font-size: 12px;
        text-transform: uppercase;
    }

        .navbar-inverse .navbar-nav > li > a.active {
            background-image: url(../images/active.gif);
        }

        .navbar-inverse .navbar-nav > li > a:hover {
            background-image: url(../images/active.gif);
        }

        .navbar-inverse .navbar-nav > li > a.menu-home-link {
            color: #000000;
            font-size: 18px;
            padding: 0;
            margin-right: 10px;
        }

            .navbar-inverse .navbar-nav > li > a.menu-home-link:hover {
                background-image: unset;
            }

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

@media (min-width: 768px) {
    header ul.navbar-right {
        padding-top: 18px;
    }

        header ul.navbar-right .dropdown-menu {
            width: 100%;
        }

        header ul.navbar-right a.btn {
            display: block;
            text-align: left;
        }

    header .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
        background-color: unset;
    }

    header .navbar-nav > li > a {
        color: #ffffff;
        padding: 0 12px;
    }

        header .navbar-nav > li > a:hover {
            background-color: unset;
            text-decoration: underline;
        }
}
