body {
    padding-top: 40px;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: rgba(36, 35, 35, .9);
    height: 180px;
    padding-top: 35px;
}

.main-search {
    margin-top: 10px;
}

    .main-search button {
        width: 100px;
        background-image: url(../images/active.gif);
        border: none;
        padding: 7px 12px;
        background-repeat: repeat-x;
        text-transform: uppercase;
        color: #ffffff;
    }

.main-body-wrapper {
    background-image: url(../images/bg.png);
    border-bottom: solid 2px #FC3019;
}

    .main-body-wrapper .container {
        position: relative;
    }
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    position: relative;
    width: 100%;
    margin-top: -65px;
}

ul.main-navigation-bar {
    list-style: none;
    padding: 0;
    font-size: 0;
    background: url(../images/top-nav.png) repeat-x;
    border-bottom: solid 2px rgb(252, 44, 18);
    margin: 0;
}

    ul.main-navigation-bar > li {
        display: inline-flex;
        font-size: 14px;
    }

        ul.main-navigation-bar > li > a {
            display: inline-block;
            color: #ffffff;
            text-transform: uppercase;
            padding: 17px 35px;
            border-right: solid 1px rgb(252, 44, 18);
        }

            ul.main-navigation-bar > li > a.active {
                background-color: rgb(252, 44, 18);
            }

            ul.main-navigation-bar > li > a:hover {
                background-color: rgb(252, 44, 18);
            }

.main-slideshow img {
    width: 100%;
}

.main-content {
    padding: 0 15px 10px 15px;
    background-color: #ffffff;
}

.content-block h3 {
    margin: 0;
    background: url(../images/top-nav.png) repeat-x;
    text-transform: uppercase;
    color: #ffffff;
    padding: 20px;
    font-size: 18px;
    border-bottom: solid 2px #FC3019;
}

    .content-block h3 .header-hightlight {
        color: #FC3019;
    }

.content-block > div.row {
    margin-top: 10px;
}

.block-item {
    background-color: #000000;
}

    .block-item a.item-avatar {
        display: block;
        padding: 10px 5px 0 5px;
    }

        .block-item a.item-avatar > img {
            width: 100%;
        }

    .block-item > h5 {
        font-weight: bold;
        color: #fff;
        text-align: center;
        margin: 10px 0 5px 0;
    }

    .block-item > p {
        color: #989898;
        text-align: center;
        padding: 0 15px;
        font-size: 13px;
    }

    .block-item > .item-link {
        display: block;
        background: url(../images/head1.png) repeat-x;
        font-size: 13px;
        color: #fff;
        text-align: center;
        padding: 4px;
        margin-top: 20px;
        -ms-transition: all ease-in-out .5s;
        -o-transition: all ease-in-out .5s;
        -webkit-transition: all ease-in-out .5s;
        transition: all ease-in-out .5s;
        text-decoration: none;
        cursor: pointer;
    }

        .block-item > .item-link:hover {
            background-image: url(../images/head1h.png);
        }

.content-block-footer {
    text-align: right;
    margin: 10px 0;
}

.content-block:last-child .content-block-footer {
    margin: 10px 0 0 0;
}

.content-block-footer a.view-all-link {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background: url(../images/head1.png) repeat-x;
    padding: 8px 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    -ms-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
    -webkit-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
}

    .content-block-footer a.view-all-link:hover {
        background-image: url(../images/head1h.png);
    }

footer {
    background-color: #292828;
}

.footer-item > h4 {
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 20px;
}

.footer-item > ul {
    list-style: none;
    padding: 0;
}

    .footer-item > ul > li {
        padding: 5px 0;
    }

        .footer-item > ul > li > a {
            color: #63615f;
            font-size: 12px;
            text-decoration: none;
        }

            .footer-item > ul > li > a:hover {
                color: #FC3019;
            }

    .footer-item > ul.social-media > li {
        display: inline-block;
        margin-right: 5px;
        padding: 0;
    }

        .footer-item > ul.social-media > li > a {
            font-size: 40px;
            color: #ffffff;
        }

            .footer-item > ul.social-media > li > a:hover {
                color: #FC3019;
            }

.file-upload {
    position: relative;
}

    .file-upload > input[type=file] {
        position: absolute;
        left: -9999px;
    }    
/* Override Bootstrap */
.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}

.navbar {
    min-height: unset;
    padding: 8px 0;
}

.navbar-inverse {
    background-color: #fc2c12;
    border-color: #fc2c12;
}

    .navbar-inverse .navbar-nav > li.separator {
        padding: 0 3px;
        padding-top: 5px;
    }

        .navbar-inverse .navbar-nav > li.separator > span {
            display: block;
            width: 1px;
            min-height: 20px;
            background-color: #000000;
        }


    .navbar-inverse .navbar-nav > li > a {
        color: #fff;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
        height: 30px;
        font-size: 12px;
        text-transform: uppercase;
    }

        .navbar-inverse .navbar-nav > li > a.active {
            background-image: url(../images/active.gif);
        }

        .navbar-inverse .navbar-nav > li > a:hover {
            background-image: url(../images/active.gif);
        }

        .navbar-inverse .navbar-nav > li > a.menu-home-link {
            color: #000000;
            font-size: 18px;
            padding: 0;
            margin-right: 10px;
        }

            .navbar-inverse .navbar-nav > li > a.menu-home-link:hover {
                background-image: unset;
            }

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

@media (min-width: 768px) {

    header ul.navbar-right {
        padding-top: 18px;
        margin-right: 0px;
    }

        header ul.navbar-right .dropdown-menu {
            width: 100%;
        }

        header ul.navbar-right a.btn {
            display: block;
            text-align: left;
        }

    header .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
        background-color: unset;
    }

    header .navbar-nav > li > a {
        color: #ffffff;
        padding: 0 12px;
    }

        header .navbar-nav > li > a:hover {
            background-color: unset;
            text-decoration: underline;
        }
}
